## Em Python, tudo é objeto

In [3]:
# Instanciando Objeto lista do tipo lista

In [4]:
listaNum = ["Data","Science","Academy","Nota",10,25]

In [5]:
type(listaNum)

list

In [6]:
print(type([]))

<class 'list'>

In [8]:
listaNum.count(10)

1

In [11]:
# Usando Type para verificar o tipo do objeto

print(type([]))
print(type(()))
print(type({}))
print(type('a'))
print(type(10))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>
<class 'int'>

In [13]:
# Criando um novo tipo de objeto chamado "carro"

class Carro(object):
    pass

In [15]:
Ferrari = Carro()
print(type(Ferrari))

<class '__main__.Carro'>

In [59]:
# Criando a classe estudante

class Estudante:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota
    def imprime(self, nome, idade, nota):
        return {
            "Nome": self.nome,
            "Idade": self.idade,
            "Nota": self.nota
        }

In [60]:
# Instanciando o objeto Estudante1 do tipo Estudante

Estudante1 = Estudante("Alysson", 26, 8)

In [61]:
Estudante1.imprime("Alysson", 26, 8)

{'Nome': 'Alysson', 'Idade': 26, 'Nota': 8}

#### Criando nova Classe - Funcionarios

In [50]:
class Funcionarios:
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo
    def ListFunc(self):
        return f"Funcionário(a) {self.nome} tem salário de R$ {self.salario}, ocupando o cargo de {self.cargo}"

In [51]:
Func1 = Funcionarios("Alysson", 7950.69, "1º Tenente")

In [52]:
Func1.ListFunc()

'Funcionário(a) Alysson tem salário de R$ 7950.69, ocupando o cargo de 1º Tenente'

In [63]:
# Usando o método da classe

Func1.cargo

'1º Tenente'

#### Verificando se tem atributo no objeto

In [64]:
hasattr(Func1, "nome")

True

In [65]:
hasattr(Func1, "salario")

True

In [66]:
hasattr(Func1, "sobrenome")

False

#### Atribuindo valor ao atriuto com "SET"

In [67]:
setattr(Func1, "nome", "Alysson Montovanelli da Silva de Melo")

In [68]:
setattr(Func1, "salario", 10951.65)

In [69]:
Func1.nome

'Alysson Montovanelli da Silva de Melo'

In [70]:
Func1.salario

10951.65

#### Pegando valores com "GET"

In [71]:
getattr(Func1, "nome")

'Alysson Montovanelli da Silva de Melo'

In [72]:
getattr(Func1, "salario")

10951.65

#### Deletando atributo

In [73]:
delattr(Func1, "salario")

In [75]:
hasattr(Func1, "salario") # Atributo excluído

False