In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [11]:
dados = {'Estado': ['Santa Catarina', 'Rio de Janeiro', 'Tocatins', 'Bahia', 'Minas Gerais'],
        'Ano': [2004, 2005, 2006, 2007,2008],
        'Taxa Desemprego': [1.5, 1.7, 1.6, 2.4, 2.7]}

In [12]:
# Importando a função DataFrame do Pandas
from pandas import DataFrame

In [13]:
# Convertendo o dicionario em DataFrame
df = DataFrame(dados)

In [14]:
# Visualiza as 5 primeiras linhas
df.head()

           Estado   Ano  Taxa Desemprego
0  Santa Catarina  2004              1.5
1  Rio de Janeiro  2005              1.7
2        Tocatins  2006              1.6
3           Bahia  2007              2.4
4    Minas Gerais  2008              2.7

In [15]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
# Reorganizando as colunas

DataFrame(dados, columns = ['Estado', 'Taxa Desemprego', 'Ano'])