In [1]:
import sqlite3

In [2]:
import pandas as pd

## Abrindo conexão e cursor

In [5]:
con = sqlite3.connect('cap12_dsa.db')

In [6]:
cursor = con.cursor()

A Query abaixo retorna todas as linhas e todas as colunas da tabela

In [10]:
query = 'select * from tb_vendas_dsa'

In [11]:
cursor.execute(query)

In [12]:
dados = cursor.fetchall()

In [14]:
# Carregando dados com DF do pandas
dataFrame = pd.DataFrame(dados, columns = ['ID_Pedido',
                                         'ID_Cliente',
                                         'Nome_Produto',
                                         'Valor_Unitario',
                                         'Unidades_Vendidas',
                                         'Custo'])

In [16]:
dataFrame.head(10)

,ID_Pedido,ID_Cliente,Nome_Produto,Valor_Unitario,Unidades_Vendidas,Custo
0,1,63,Produto_38,154.03,7,92.42
1,2,49,Produto_8,171.52,5,102.91
2,3,83,Produto_39,28.97,13,17.38
3,4,37,Produto_2,104.55,4,62.73
4,5,19,Produto_1,77.21,19,46.33
5,6,87,Produto_36,161.97,13,97.18
6,7,59,Produto_24,101.17,7,60.70
7,8,48,Produto_31,92.03,9,55.22
8,9,73,Produto_4,116.57,6,69.94
9,10,98,Produto_45,46.16,4,27.70

In [17]:
# Fechar o cursor e encerrar a conexão direta com o banco de dados
cursor.close()
con.close()

##### Query abaixo retorna média, com pandas

In [26]:
# média

media_unidadesVendidas = dataFrame['Unidades_Vendidas'].mean()

In [27]:
media_unidadesVendidas

10.506

In [36]:
#Média de unidades vendidas por produto

media_porProduto = dataFrame.groupby('Nome_Produto')['Unidades_Vendidas'].mean()

In [37]:
media_porProduto

Nome_Produto
Produto_1     12.000000
Produto_10     9.500000
Produto_11    14.181818
Produto_12     8.846154
Produto_13     6.000000
Produto_14     9.166667
Produto_15     9.750000
Produto_16     8.250000
Produto_17    11.714286
Produto_18    13.083333
Produto_19     9.727273
Produto_2      9.250000
Produto_20     7.555556
Produto_21    10.285714
Produto_22    13.687500
Produto_23    10.818182
Produto_24    12.272727
Produto_25     9.538462
Produto_26     9.363636
Produto_27    11.100000
Produto_28     9.000000
Produto_29     9.692308
Produto_3      8.909091
Produto_30     9.875000
Produto_31     7.900000
Produto_32    11.923077
Produto_33    12.285714
Produto_34     8.100000
Produto_35     9.000000
Produto_36     9.090909
Produto_37    11.000000
Produto_38    12.800000
Produto_39    12.666667
Produto_4     11.153846
Produto_40     7.250000
Produto_41    11.857143
Produto_42    10.272727
Produto_43    11.000000
Produto_44     7.200000
Produto_45     8.875000
Produto_46    12.142857
Produto_47    10.571429
Produto_48    14.000000
Produto_49    11.875000
Produto_5     10.200000
Produto_50    10.545455
Produto_6     12.000000
Produto_7     13.562500
Produto_8     11.071429
Produto_9      7.200000
Name: Unidades_Vendidas, dtype: float64

In [42]:
# Média por produto se valor unitário for maior que 199

media_com_valorInicial = dataFrame[dataFrame['Valor_Unitario'] > 199]\
                        .groupby('Nome_Produto')['Unidades_Vendidas'].mean()

In [41]:
media_com_valorInicial

Nome_Produto
Produto_11     1.0
Produto_15     8.0
Produto_17    14.0
Produto_20     7.0
Produto_39    16.0
Name: Unidades_Vendidas, dtype: float64

##### Média de unidades vendidas por produto, se valor inicila for maior que 199 e somente se a media de unidades vendidas for maior que 10

In [44]:
# Alternativa 01

dataFrame[dataFrame['Valor_Unitario'] > 199].groupby('Nome_Produto')\
                .filter(lambda x: x['Unidades_Vendidas'].mean() > 10)

,ID_Pedido,ID_Cliente,Nome_Produto,Valor_Unitario,Unidades_Vendidas,Custo
42,43,72,Produto_39,199.78,16,119.87
83,84,45,Produto_17,199.62,14,119.77

In [46]:
# Alternativa B - saída idêntica ao SQL

dataFrame[dataFrame['Valor_Unitario'] > 199].groupby('Nome_Produto')\
                .filter(lambda x: x['Unidades_Vendidas'].mean() > 10)\
                .groupby('Nome_Produto')['Unidades_Vendidas'].mean()

Nome_Produto
Produto_17    14.0
Produto_39    16.0
Name: Unidades_Vendidas, dtype: float64

In [1]:
s = 'Data Science Academy'
s[2]

't'

In [2]:
s[:3]

'Dat'

In [3]:
[x for x in range(10) if x < 5]

[0, 1, 2, 3, 4]

In [4]:
d3 = {}

In [5]:
d3

{}

In [6]:
3x = 6

SyntaxError: invalid syntax (712754540.py, line 1)