# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [3]:
list1 = []

for n in range(10):
    list1.append(n)
    
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [7]:
list2 = {"Arroz": 12, "Feijão": 15, "Acerola":55, "peito":45, "rola":8}
list2

{'Arroz': 12, 'Feijão': 15, 'Acerola': 55, 'peito': 45, 'rola': 8}

# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [9]:
str1 = "Vou pegar a Vitória "
str2 = "daquele jeitão"

str_final = str1 + str2
str_final

'Vou pegar a Vitória daquele jeitão'

# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [12]:
tupla1 = (1,2,2,3,4,4,4,5)

count4 = list(tupla1).count(4)
count4

3

# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [13]:
dict1 = {}
dict1

{}

# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [14]:
dict2 = {"chave1": 0, "chave2": 2, "chave3":4}
dict2

{'chave1': 0, 'chave2': 2, 'chave3': 4}

# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [16]:
dict2["chave4"] = 10
dict2

{'chave1': 0, 'chave2': 2, 'chave3': 6, 'chave4': 10}

# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [17]:
dict3 = {"value1": [1,2,3,4,5,6,7,8,9,10], "value2": 15, "value3":100}
dict3["value1"]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.

In [19]:
list_final = ["Arroz é bom demais", (1,2), {"valor1": 1, "valor2":2}, 9.56]

list_final

['Arroz é bom demais', (1, 2), {'valor1': 1, 'valor2': 2}, 9.56]

# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [22]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
len(frase)
frase[0:18]

'Cientista de Dados'